
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  nav img {
    width: 50px;
    margin-right: 10px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
  }
  
  .navigation a.active {
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  #menu-btn {
    width: 30px;
    cursor: pointer;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .form-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
    font-size: 16px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #ff1493;
  }
