<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <img src="/images/image-1692105988408-242613260.jpeg" alt="">
        <div class="navigation">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="profile">Profiles</a></li>
                <li><a href="profile/add">addProfiles</a></li>
                <li><a href="checkmsg">checkmsg</a></li>
                </ul>
           
        </div>
    </nav>
    <section id="home">
        <h2>Welcome to IT and Business Consulting</h2>
        <p>We provide operational support and oversee projects until the (predefined) goal is reached, and beyond, if required. Our recommendations bring useful, tangible results and can be implemented immediately with or without our assistance.</p>
    </section>

    <section id="features">
        <h1>Navigating Business and IT Challenges together</h1>
        <p>Many companies are struggling to navigate today’s challenges for several reasons, such as:</p>
        <div class="fea-base">
            <div class="fea-box">
                <i class='bx bxs-compass'></i>
                <p>A lack of understanding of business and customer insights</p>
            </div>
            <div class="fea-box">
                <i class='bx bxs-notepad'></i>
                <p>A misaligned vision and strategy</p>
            </div>
            <div class="fea-box">
                <i class='bx bxs-plane'></i>
                <p>Difficulty innovating or quickly launching new capabilities</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-col">
            <h3>SERVICES</h3>
            <ul>
                <li>Business Consulting</li>
                <li>Digital Consulting</li>
                <li>Industries</li>
                <li>Marketing Service</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>RESOURCES</h3>
            <ul>
                <li>Insights</li>
                <li>Client Stories</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>COMPANY</h3>
            <ul>
                <li>Careers</li>
                <li>News & Events</li>
                <li>Locations</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>Join 20,000 other people and get the latest updates on business to help improve your business.</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Address">
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2023 All rights reserved | This template is made by </p>
        </div>
    </footer>
</body>
</html>
